@charset "UTF-8";
.form {
	position: relative;

	border-style: solid;
	border-width: 1px;

	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	overflow: scroll;
	margin-bottom: 5%;
}
.serverMessage{
	color:red;
}
.image {
  width: 100px;
  height: 100px;
}
.list{
	
	border-style: solid;
	border-width: 1px;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	margin-bottom: 5%;
}
th, td{
	border: 1px solid black;
	word-wrap: break-word;
	text-align: center;
	overflow: hidden;
}
.info{
	border-style: solid;
	border-width: 1px;

	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	margin-bottom: 5%;
}
#logout{
	margin-left: 95%;
	position: absolute;
}